body {
    margin: 0;
    /* background: #fbc02d; */
    
    background: #457B9D;  /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to top, #24243e, #302b63, #0f0c29);  Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to top, #24243e, #302b63, #0f0c29); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    font-family: 'Noto Sans', sans-serif;
    overflow-x: hidden;
  }
  
  h1 {
    position: relative;
    color: #fff;
    opacity: 0;
    transition: .8s ease-in-out;
  }
  
  #progress {
    position: absolute;
    /* background: red; */

    background: #A8DADC;  /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to top, #4e4376, #2b5876);  Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to top, #4e4376, #2b5876); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 10%;

    height: 100vh;
    width: 0;
    transition: width 0.2s ease-in-out;
  }
  
  .center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  #register {
    background: #fff;
    position: relative;
    width: 550px;
    border-radius: 10px;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
    transition: transform .1s ease-in-out;
  }
  
  #register.close {
    width: 0;
    padding: 0;
    overflow: hidden;
    transition: .8s ease-in-out;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0);
  }
  
  #forwardButton {
    position: absolute;
    right: 20px;
    bottom: 5px;
    font-size: 40px;
    /* color: #fbc02d; */

    color: #0f0c29;  /* fallback for old browsers */
    color: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    color: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

    float: right;
    cursor: pointer;
    z-index: 20
  }
  #previousButton {
    position: absolute;
    font-size: 18px;
    left: 30px; /* same as padding on container */
    top: 12px;
    z-index: 20;
    color: #9e9e9e;
    float: right;
    cursor: pointer;
  }

  #previousButton:hover {color: black}
  #forwardButton:hover {color: gray}
  .wrong #forwardButton {color: #ff2d26}
  .close #forwardButton, .close #previousButton {color: #fff}
  
  #inputContainer {
    position: relative;
    padding: 30px 20px 20px 20px;
    margin: 10px 60px 10px 10px;
    opacity: 0;
    transition: opacity .3s ease-in-out;
  }
  
  #inputContainer input {
    position: relative;
    width: 100%;
    border: none;
    font-size: 20px;
    font-weight: bold;
    outline: 0;
    background: transparent;
    box-shadow: none;
    font-family: 'Noto Sans', sans-serif;
  }
  
  #inputLabel {
    position: absolute;
    pointer-events: none;
    top: 32px; /* same as container padding + margin */
    left: 20px; /* same as container padding */
    font-size: 20px;
    font-weight: bold;
    transition: .2s ease-in-out;
  }
  
  #inputContainer input:valid + #inputLabel {
    top: 6px;
    left: 42px; /* space for previous arrow */
    margin-left: 0!important;
    font-size: 11px;
    font-weight: normal;
    color: #9e9e9e;
  }
  
  #inputProgress {
      padding-top: 5px;
    border-bottom: 3px solid #2b5876;
    width: 0;
    transition: width .6s ease-in-out;
  }
  
  .wrong #inputProgress {
    border-color: #ff2d26;
  }
  
  @media (max-width: 420px) {
    #forwardButton {right: 10px}
    #previousButton {left: 10px}
    #inputLabel {left: 0}
    #inputContainer {padding-left: 0; margin-right:20px}
  }

  /* SIDE */
  
div.header{
    position: absolute;
    z-index: 9999999;
    margin-top: 3%;
    width: 100%;
    text-align: center;
}
#ccs{
    color: #fff;
    font-size: 35px;
}

#checkboxes{
    display: none;
}


#checkgender,#checkinc,#checksmk,#checkbt,#checkins,#checkwork,#checkssd,#checkswh,#checkhsd,#checkhwh,#checksym,#checkconinf,#checkasthma,#checkkid,#checkliver,#checkimm,#checkheart,#checklung,#checkdiabetes,#checkhiv,#checkht,#checkothr,#checknurs,#checkhlth{
  display: none;
}


.card {
    width: 300px;
    margin: 50px auto;
    clear: both;
    display: block;
    padding: 0px 0px;
    background-color: #009BFF;
    border-radius: 4px;
}
.card::after {
    clear: both;
    display: block;
    content: "";
}
.checkbox-container {
    float: left;
    width: 30%;
    box-sizing: border-box;
    text-align:center;
  padding: 20px 0px;
  display: inline-block;
}
.card .circular-container {
  background-color:#0067FF;
}

.input-title {
    clear: both;
    padding: 22px 0px 0px 0px;
    font-size: 16px;
    color: black;
    font-weight: 300;
}




/* Styling Checkbox Starts */
.checkbox-label {
    display: block;
    position: relative;
    margin: auto;
    cursor: pointer;
    font-size: 22px;
    line-height: 24px;
    height: 24px;
    width: 24px;
    clear: both;
}

.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-label .checkbox-custom {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    border: 2px solid #000;
}


.checkbox-label input:checked ~ .checkbox-custom {
    background-color: #FFFFFF;
    border-radius: 5px;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity:1;
    border: 2px solid #000;
}


.checkbox-label .checkbox-custom::after {
    position: absolute;
    content: "";
    left: 12px;
    top: 12px;
    height: 0px;
    width: 0px;
    border-radius: 5px;
    border: solid #009BFF;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity:1;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}


.checkbox-label input:checked ~ .checkbox-custom::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity:1;
  left: 8px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid #009BFF;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}



/* For Ripple Effect */
.checkbox-label .checkbox-custom::before {
    position: absolute;
    content: "";
    left: 10px;
    top: 10px;
    width: 0px;
    height: 0px;
    border-radius: 5px;
    border: 2px solid #000;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);    
}

.checkbox-label input:checked ~ .checkbox-custom::before {
    left: -3px;
    top: -3px;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    -webkit-transform: scale(3);
    -ms-transform: scale(3);
    transform: scale(3);
    opacity:0;
    z-index: 999;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}




/* Style for Circular Checkbox */
.checkbox-label .checkbox-custom.circular {
    border-radius: 50%;
    border: 2px solid #000;
}

.checkbox-label input:checked ~ .checkbox-custom.circular {
    background-color: #000;
    border-radius: 50%;
    border: 2px solid #000;
}
.checkbox-label input:checked ~ .checkbox-custom.circular::after {
    border: solid #0067FF;
    border-width: 0 2px 2px 0;
}
.checkbox-label .checkbox-custom.circular::after {
    border-radius: 50%;
}

.checkbox-label .checkbox-custom.circular::before {
    border-radius: 50%;
    border: 2px solid #000;
}

.checkbox-label input:checked ~ .checkbox-custom.circular::before {
    border-radius: 50%;
}